<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.art.mapper.SaleAfterMapper" >
  <resultMap id="BaseResultMap" type="com.art.pojo.SaleAfter" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="formId" property="formid" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="onemoney" property="onemoney" jdbcType="VARCHAR" />
    <result column="summoney" property="summoney" jdbcType="VARCHAR" />
    <result column="descripte" property="descripte" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, formId, title, onemoney, summoney, descripte
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.art.pojo.SaleAfterExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sale_after
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sale_after
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sale_after
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.art.pojo.SaleAfterExample" >
    delete from sale_after
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.art.pojo.SaleAfter" >
    insert into sale_after (id, formId, title, 
      onemoney, summoney, descripte
      )
    values (#{id,jdbcType=INTEGER}, #{formid,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, 
      #{onemoney,jdbcType=VARCHAR}, #{summoney,jdbcType=VARCHAR}, #{descripte,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.art.pojo.SaleAfter" >
    insert into sale_after
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="formid != null" >
        formId,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="onemoney != null" >
        onemoney,
      </if>
      <if test="summoney != null" >
        summoney,
      </if>
      <if test="descripte != null" >
        descripte,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="formid != null" >
        #{formid,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="onemoney != null" >
        #{onemoney,jdbcType=VARCHAR},
      </if>
      <if test="summoney != null" >
        #{summoney,jdbcType=VARCHAR},
      </if>
      <if test="descripte != null" >
        #{descripte,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.art.pojo.SaleAfterExample" resultType="java.lang.Integer" >
    select count(*) from sale_after
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update sale_after
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.formid != null" >
        formId = #{record.formid,jdbcType=VARCHAR},
      </if>
      <if test="record.title != null" >
        title = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.onemoney != null" >
        onemoney = #{record.onemoney,jdbcType=VARCHAR},
      </if>
      <if test="record.summoney != null" >
        summoney = #{record.summoney,jdbcType=VARCHAR},
      </if>
      <if test="record.descripte != null" >
        descripte = #{record.descripte,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update sale_after
    set id = #{record.id,jdbcType=INTEGER},
      formId = #{record.formid,jdbcType=VARCHAR},
      title = #{record.title,jdbcType=VARCHAR},
      onemoney = #{record.onemoney,jdbcType=VARCHAR},
      summoney = #{record.summoney,jdbcType=VARCHAR},
      descripte = #{record.descripte,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.art.pojo.SaleAfter" >
    update sale_after
    <set >
      <if test="formid != null" >
        formId = #{formid,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="onemoney != null" >
        onemoney = #{onemoney,jdbcType=VARCHAR},
      </if>
      <if test="summoney != null" >
        summoney = #{summoney,jdbcType=VARCHAR},
      </if>
      <if test="descripte != null" >
        descripte = #{descripte,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.art.pojo.SaleAfter" >
    update sale_after
    set formId = #{formid,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      onemoney = #{onemoney,jdbcType=VARCHAR},
      summoney = #{summoney,jdbcType=VARCHAR},
      descripte = #{descripte,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>